*build
ThirdParty
SI
*.yaml
*.zip
*.rar
*.exe
*.pdb
src_*
Examples_*
*.pdf
Examples/**/*.exe
Examples/**/*.pdb
Examples/**/*.txt
Examples/**/*.dat
Examples/**/*.launch
Examples/**/*.jpg
Examples/**/*.png
result*.txt
Examples/BoxNO2/*.yaml
Examples/ReCalilbration
CalibrationDataFile